<div class="c-card @@if(this.class){@@class}">
	<a class="c-card__body" href="./">
		<div class="c-card__top">
			<input class="c-card__fav" type="checkbox">
			<input class="c-card__compare" type="checkbox">
		</div>
		<div class="c-card__image"><img src="./images/stuff/card-image.png" alt=""></div>
		<div class="c-card__name">
			<span>Кроссовки</span>
			<span>WGS-02-T-1</span>
		</div>
		<div class="c-card__info">Цены доступны в личном кабинете</div>
		<div class="c-card__bottom">
			<button class="c-card__btn">Войти</button>
		</div>
	</a>
</div>