<header class="header">
	<div class="container">
		<div class="header__top">
			<a class="header__phone" href="tel:+78126774014">+7 (812) 677-40-14</a>
			<a class="header__logo" href="./"><img src="./images/logo-wanngo.png" alt=""></a>
			<div class="header__utility">
				<a class="header__user" href="./">Личный кабинет</a>
				<a class="header__compare" href="./" data-count="5"></a>
				<!-- <a class="header__cart" href="./" data-count="2"></a> -->
			</div>
		</div>
	</div>
	<hr class="header__line header__line_orange">
	<div class="container">
		<div class="header__bottom">
			<button class="header__toggle"></button>
			<a class="header__logo-mobile" href="./"><img src="./images/logo-wanngo.png" alt=""></a>
			<nav class="header__navi">
				<ul class="header__menu menu">
					<li class="menu__item menu__item_haschild">
						<a href="./">Каталог</a>
						<ul class="menu__submenu">
							<li class="menu__subitem"><a href="./">Ботинки</a></li>
							<li class="menu__subitem"><a href="./">Дутики</a></li>
							<li class="menu__subitem"><a href="./">Кеды</a></li>
							<li class="menu__subitem"><a href="./">Кроссовки</a></li>
							<li class="menu__subitem"><a href="./">Лоферы</a></li>
							<li class="menu__subitem"><a href="./">Полуботинки</a></li>
							<li class="menu__subitem"><a href="./">Полусапоги</a></li>
							<li class="menu__subitem"><a href="./">Сандалии</a></li>
							<li class="menu__subitem"><a href="./">Слипоны</a></li>
						</ul>
					</li>
					<li class="menu__item"><a href="./">Диллерам</a></li>
					<li class="menu__item"><a href="./">О компании</a></li>
					<li class="menu__item"><a href="./">Сотрудничество</a></li>
					<li class="menu__item"><a href="./">Доставка</a></li>
					<li class="menu__item"><a href="./">Контакты</a></li>
				</ul>
				<div class="header__utility-mobile">
					<a href="./">Личный кабинет</a>
					<a href="./">Сравнение товаров</a>
					<a href="./">Избранное</a>
				</div>
				<div class="header__contacts-mobile">
					<a href="tel:+78126774014">+7 (812) 677-40-14</a>
					<a href="mailto:sale@wanngo.ru">sale@wanngo.ru</a>
				</div>
			</nav>
			<form action="./" class="header__search">
				<input type="text" placeholder="Поиск">
				<input type="submit" value="">
			</form>
			<a class="header__cart-mobile" href="./"></a>
		</div>
	</div>
	<hr class="header__line header__line_black">
</header>