.s-filters {
	$self: &;
	box-sizing: border-box;
	flex-grow: 1;
	background-color: #fff;

	@include media('<=sm') {
		display: none;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 3;
		padding: 30px 20px;
		height: 100vh;
		overflow: auto;
		@keyframes filters_fade {
			0% {opacity: 0;}
			100% {opacity: 1;}
		}
		animation: filters_fade 0.4s ease;

		&.opened {
			display: block;
		}

		#{$self}__head {
			margin-bottom: 25px;
		}
	}

	&__block {
		border-bottom: 1px solid #dcdcdc;

		&:first-of-type {
			border-top: 1px solid #dcdcdc;
		}

		&:last-of-type {
			margin-bottom: 30px;
		}
	}

	&__close {
		@extend %reset-button;
		align-self: stretch;
		background: url('#{$images-path}icons-sprite.svg#icon-close-view-dark') center / 17px 17px no-repeat transparent;
		width: 20px;
		margin-right: 13px;
		display: none;

		@include media('<=sm') {
			display: block;
		}
	}

	&__title {
		color: #3D3D3D;
		font-family: "RR", sans-serif;
		line-height: 1.4;
		padding: 0 40px 0 0;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		min-height: 52px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr_down-view-dark') center right 18px / 12px 7px no-repeat transparent;
		cursor: pointer;
		
		&.opened {
			background-image: url('#{$images-path}icons-sprite.svg#icon-arr_up-view-dark');
		}
	}
	
	&__title-selected {
		display: none;
		width: 100%;
		font-family: "RL", sans-serif;
		font-size: 13px;
		line-height: 1.4;
		color: #999;
	}

	&__items {
		display: none;
		padding-bottom: 10px;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 4px 0;
		margin-left: 15px;
		cursor: pointer;

		input[type="checkbox"] {
			appearance: none;
			background: #fff;
			border: 2px solid #b7b7b7;
			width: 16px;
			height: 16px;
			overflow: hidden;
			border-radius: 3px;
			margin-right: 8px;

			&:checked {
				background-color: #F58320;
				border: none;

				&::before {
					display: block;
					content: '';
					width: 16px;
					height: 16px;
					background: url('#{$images-path}icons-sprite.svg#icon-check-view-white') center / 10px 7px no-repeat transparent;
				}
			}
		}

		span {
			padding-top: 1px;
			line-height: 1.2;
		}
	}

	&__reset {
		@extend %reset-button;
		display: block;
		color: #707070;
		font-size: 15px;
		margin: 25px auto 20px;
	}
	
	&__show {
		@extend %reset-button;
		display: block;
		font-size: 15px;
		width: 100%;
		color: #F58320;
		background-color: #fff;
		border: 2px solid #F58320;
		padding: 10px;
		position: sticky;
		position: -webkit-sticky;
		bottom: 20px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	}
}
