.menu {
	$self: &;
	display: flex;

	@include media('<=sm') {
		display: block;
	}

	&__item {
		flex-grow: 1;
		font-family: "RR", sans-serif;
		font-size: 18px;
		
		@include media('<=sm') {
			font-family: "RL", sans-serif;
			font-size: 18px;
		}

		> a {
			display: block;
			text-align: center;
			padding: 14px 5px;
			text-decoration: none;
			color: inherit;
			white-space: nowrap;
			transition: color 0.3s ease;

			&:hover {
				color: #F58320;
			}

			@include media('<=sm') {
				padding: 7px;
				text-align: left;
			}
		}

		&_haschild, &:first-child {
			position: relative;

			@include media('>=sm') {
				&:hover {
					#{$self}__submenu {
						display: block;
					}
				}
			}
		}

		&:first-child {
			padding: 0 5px 1px 32px;
			margin-bottom: -1px;
			background: url('#{$images-path}icons-sprite.svg#icon-toggle-view-white') center left 14% / 18px 12px no-repeat #F58320;
			
			> a { color: #fff; }
			
			@include media('<=sm') {
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				background-image: none;
				border-radius: 3px;
				margin-bottom: 20px;
				
				&::after {
					box-sizing: border-box;
					display: block;
					content: '';
					width: 12px;
					height: 12px;
					flex-shrink: 0;
					background: url('#{$images-path}icons-sprite.svg#icon-arr_right-view-white') center / 7px 11px no-repeat transparent;
				}
			}
		}
	}

	&__submenu {
		display: none;
		box-sizing: border-box;
		background-color: #fff;
		position: absolute;
		top: 100%;
		left: 0;
		border: 1px solid #dcdcdc;
		border-top: none;
		padding: 20px 30px;
		min-width: 100%;
		box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.03);
		@keyframes submenu_fade {
			0% {opacity: 0;}
			100% {opacity: 1;}
		}
		animation: submenu_fade 0.4s ease;
	}

	&__subitem {
		font-size: 17px;
		
		a {
			box-sizing: border-box;
			display: block;
			padding: 7px 0;
			text-decoration: none;
			color: inherit;
			transition: color 0.3s ease;

			&:hover {
				color: #F58320;
			}
		}
	}
}
