.header {
	$self: &;
	margin-bottom: 18px;

	&__top {
		height: 100px;
		display: flex;
		align-items: center;
	}

	&__phone {
		font-family: "RR", sans-serif;
		color: #565655;
		text-decoration: none;
		font-size: 22px;

		@include media('<=sm') {
			display: none;
		}
	}

	&__logo {
		margin: 0 auto;

		@include media('<=sm') {
			margin-left: 0;
		}
	}

	&__utility {
		display: flex;
		align-items: center;
	}

	&__user {
		font-family: "RL", sans-serif;
		font-size: 17px;
		text-decoration: none;
		color: inherit;
		margin-right: 15px;
		transition: color 0.3s ease;

		&:hover {
			color: #F58320;
		}
	}

	&__compare {
		display: block;
		width: 28px;
		height: 28px;
		background: url('#{$images-path}icons-sprite.svg#icon-compare-view-black') center / auto no-repeat transparent;
		text-decoration: none;
		color: inherit;
		position: relative;
		flex-shrink: 0;

		&[data-count]::after {
			position: absolute;
			top: -7px;
			right: 2px;
			display: block;
			content: attr(data-count);
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #F58320;
			color: #fff;
			font-size: 11px;
			text-align: center;
			line-height: 17px;
		}		
	}

	&__cart {
		display: block;
		width: 30px;
		height: 30px;
		background: url('#{$images-path}icons-sprite.svg#icon-cart-view-dark') center / auto no-repeat transparent;
		text-decoration: none;
		color: inherit;
		position: relative;
		margin-left: 10px;

		&[data-count]::after {
			position: absolute;
			top: -5px;
			right: -2px;
			display: block;
			content: attr(data-count);
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #F58320;
			color: #fff;
			font-size: 11px;
			text-align: center;
			line-height: 17px;
		}		
	}

	&__line {
		border: none;
		margin: 0;

		&_orange {
			border-bottom: 2px solid #F58320;
		}
		
		&_black {
			margin-top: -1px;
			border-bottom: 1px solid #888;
		}
	}

	&__bottom {
		
	}

	&__navi {
		display: flex;
		align-items: center;
		position: relative;

		&::after {
			content: '';
			width: 32px;
			flex-shrink: 0;
		}

		@include media('<=sm') {
			display: none;
		}
	}

	&__menu {
		width: 100%;
		max-width: 880px;
		justify-content: space-between;
	}

	&__search {
		box-sizing: border-box;
		margin: 0 -32px 0 auto;
		border: 1px solid #dfdfdf;
		width: 100%; 
		max-width: 205px;
		display: flex;
		align-items: center;
		width: 100%;

		&.opened {
			position: absolute;
			cursor: default;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 1px);
			margin: 0;
			background-color: #fff;
			background-image: none;
			max-width: none;
			@keyframes submenu_fade {
				0% {opacity: 0;}
				100% {opacity: 1;}
			}
			animation: submenu_fade 0.4s ease;
	
			input {
				display: block !important;
			}
		}

		input[type="text"] {
			@extend %reset-input;
			width: 100%;
			font-family: "RL", sans-serif;
			font-size: 18px;
			padding: 5px;

			&::placeholder {
				color: #c2c2c2;
			}
		}
		
		input[type="submit"] {
			@extend %reset-button;			
			width: 32px;
			height: 32px;
			flex-shrink: 0;
			background: url('#{$images-path}icons-sprite.svg#icon-zoom_fill-view-light') center / 18px 18px no-repeat transparent;
		}
		
		@include media('<=md') {
			height: 32px;
			width: 32px;
			flex-shrink: 0;
			border: none;
			background: url('#{$images-path}icons-sprite.svg#icon-zoom_fill-view-light') center / 18px 18px no-repeat transparent;
			cursor: pointer;

			input {
				display: none !important;
			}
		}
	}
}
